.title-bar {
    background-image: url("../images/title-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product {
    min-height: 330px;
    position: relative;
    overflow: hidden;
}

.product-actions {
    position: absolute;
    top: 28px;
    right: 24px;
}

.product-actions .bi {
    height: 20px;
    width: 20px;
}

.product-actions .bi::before {
    font-weight: 600 !important;
}

.product-action-btn {
    background: #ffffffc0;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #777;
    margin-bottom: 12px;
}

.product-1-hoverimg,
.product-actions {
    opacity: 0;
    transition: all .4s ease-in-out;
}

.product img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
    z-index: -1;
}

.product a {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
}

.product:hover .product-1,
.product:hover .static-heart {
    opacity: 0 !important;
    scale: 1.05;
}

.product:hover .product-1-hoverimg,
.product:hover .product-actions {
    opacity: 1 !important;
    scale: 1.05;
}

.product-info {
    position: absolute;
    top: 16px;
    left: 16px;
}

.badge {
    color: #585858;
    background-color: #ffffff;
    display: block;
    font-size: .75em;
    font-weight: 400;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: .1em .7em;
    line-height: 1.5em;
    text-align: center;
    letter-spacing: normal;
}

@media (max-width: 575px) {
    .product {
        min-height: 45vw !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .product {
        min-height: 250px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .product {
        min-height: 220px !important;
    }
}

.offcanvas-header {
    background: #fbf8f5;
}

.filters-title {
    padding: 16px 0;
    background: transparent !important;
    box-shadow: none !important;
    border: none;
    color: #686868 !important;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
}

.accordion-button::after {
    background-size: 14px;
}

.accordion-item {
    border-color: #dcdcdc;
}

.noUi-horizontal {
    height: 2px !important;
    border: none;
    background: #d8d8d8;
}

.noUi-connect {
    background: #585858;
}

.noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    right: -8px;
    top: -7px;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #585858;
}

.noUi-handle:after,
.noUi-handle:before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    background: #E8E7E6;
    left: 14px;
    top: 6px;
}

.add-to-cart {
    position: absolute;
    width: 100%;
    background: #ffffffc8;
    color: #000;
    padding: 12px 0;
    opacity: 0;
    bottom: -16px;
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    z-index: 999;
    cursor: pointer;
}

.product:hover .add-to-cart {
    opacity: 1;
    bottom: 0 !important;
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}